<a href="https://colab.research.google.com/github/chouat2207/PFE-CineShowBackEnd/blob/main/Python_2_6_challenge_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

In [ ]:
tuple_1 = (
    1, 2, 3,
    "a", "b", "c",
    ["adam", "Ali", "christophe"],
    [30, 40, 50],
    {"name": "Alice", "age": 25, "nationality": "french"},
    {"name": "Bob", "age": 25, "city": "Los Angeles"}
)
tuple_1

(1,
 2,
 3,
 'a',
 'b',
 'c',
 ['adam', 'Ali', 'christophe'],
 [30, 40, 50],
 {'name': 'Alice', 'age': 25, 'nationality': 'french'},
 {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'})

Now, access the second-to-last item in the second list.

In [ ]:
tuple_1[7][-2]

40

# Mission 2

In the same tuple, access the last 4 elements using slicing.

In [ ]:
tuple_1[-4:]

(['adam', 'Ali', 'christophe'],
 [30, 40, 50],
 {'name': 'Alice', 'age': 25, 'nationality': 'french'},
 {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'})

# Mission 3

Change the value of the 4th element (the first string) of your tuple (since tuples are immutable, this means recreating a tuple where this element is changed).

In [ ]:
liste_1 = list(tuple_1)
liste_1[3] = "f"
tuple_2 = tuple(liste_1)
tuple_2

(1,
 2,
 3,
 'f',
 'b',
 'c',
 ['adam', 'Ali', 'christophe'],
 [30, 40, 50],
 {'name': 'Alice', 'age': 25, 'nationality': 'french'},
 {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'})

# Mission 4

Create 2 tuples of the same length that contain only integers.

Then create a script that compares the sum of their elements and displays the tuple that has the highest total.

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (10, 20, 30, 40, 50)
if sum(tuple1) > sum(tuple2):
        print(print("the tuple 1 have the highest total. "))
else:
        print(print("the tuple 2 have the highest total. "))
somme_tuple1 = 0
somme_tuple2 = 0

# ou il ya une eutre methode
# for i in range(len(tuple1)):
#   somme_tuple1 += i
#   for j in range(len(tuple2)):
#     somme_tuple2 += j
# if somme_tuple1 > somme_tuple2:
#       print("the tuple 1 have the highest total.")
# else:
#       print("the tuple 2 have the highest total.")

the tuple 2 have the highest total :
None

# Mission 5

Here's a tuple:

`my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")`

Ask the user for a string, then for an integer position. Create an altered copy of `my_tuple` where the element at the given position is now the given string.

In [ ]:
my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")
string_user = input("entrez une chaine de caracter : ")
position_string = int(input("entrez la position souhaité : "))
liste_1 = list(my_tuple)
liste_1[position_string] = string_user
tuple_changer = tuple(liste_1)
tuple_changer

entrez une chaine de caracter : architect
entrez la position souhaité : 2

('data analyst', 'data scientist', 'architect', 'data architect')